################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/web-apps/FileContentIndex
/.vs/web-apps/v17
/.vs
