################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/web-apps/FileContentIndex
/.vs/web-apps/v17
/.vs
/Lab3/Lab3.API/.vs/Lab3.API/DesignTimeBuild
/Lab3/Lab3.API/.vs/Lab3.API/FileContentIndex
/Lab4/Lab4.API/.vs/Lab4.API
